@charset "UTF-8";

body{
    font-size: 37px;
    text-align: center;
}
h1{
    font-family:Impact, Haettenschweiler; 
    text-decoration: underline;
}
p{
    text-align: center;
    font-family:cursive
}